@model string

<form asp-controller="Curso" asp-action="Search" method="post">
    <label for="TextoAPesquisar">Nome do Curso:</label>
    <input type="text" id="TextoAPesquisar" name="TextoAPesquisar" value="">
    <button type="submit" class="btn btn-dark m-1">Pesquisar</button>
</form>